//- nav.Nav
  ul.__list
    li
      a(href=`${_resolver(_depth, true)}index.pug`) index
    li
      a(href=`${_resolver(_depth, true)}about.pug`) abount
    li
      a(href=`${_resolver(_depth, true)}blog/index.pug`) blog
    li
      a(href=`${_resolver(_depth, true)}blog/tag1/index.pug`) blog - Tag1
