extends ./_layout

block global
  -
    const _depth = 0
    const _title = _siteName
    const _canonical = _siteHost

block contents
  main.Main
    .Main__inner
      p.Main__copy TKGをそろえて今日１日をハッピーに過ごそう！

      ul.Main__description
        li 「シャッフル」を押すとTKG写真がシャッフルが始まるよ！
        li 「ストップ」を押すとシャッフルが止まるよ！
        li TKGの下のボタンをクリックすると一枚ずつシャッフルしたりストップしたりもできるよ！
        li TKGがそろったら今日はラッキー！ ツイートして自慢しよう！
        li TKGがそろわない悲しみもツイートしてTLのみんなの射幸心を煽ろう！
        li シャッフルカウントは写真ごとに数えているので「3回」が最短だよ！

      p.Provocation さぁさぁ始めちゃって〜！

      .All
        button#ShuffleAll.Button 全シャッフル
        button#StopAll.Button 前ストップ

      .Slot
        .Slot__inner.-stopping
          img#Pict_1.Slot__pict(src=`${_resolver(_depth, false)}image/tkg/001.jpg`, width="225", height="225", alt="")
          button#Shuffle_1.Button.Slot__shuffle シャッフル
          button#Stop_1.Button.Slot__stop ストップ

        .Slot__inner.-stopping
          img#Pict_2.Slot__pict(src=`${_resolver(_depth, false)}image/tkg/001.jpg`, width="225", height="225", alt="")
          button#Shuffle_2.Button.Slot__shuffle シャッフル
          button#Stop_2.Button.Slot__stop ストップ

        .Slot__inner.-stopping
          img#Pict_3.Slot__pict(src=`${_resolver(_depth, false)}image/tkg/001.jpg`, width="225", height="225", alt="")
          button#Shuffle_3.Button.Slot__shuffle シャッフル
          button#Stop_3.Button.Slot__stop ストップ

      form.Tweet
        textarea#ShareText TKGスロットで今日の運試し！
        input#Share(type="submit", value="ツイッターでシェアする")
