extends ../../_layout

block global
  -
    const _depth = 2
    const _title = `Tag1 - Blog | ${_siteName}`
    const _canonical = `${_siteHost}/blog/tag1/`

block contents
  main.Main
    p ここはそう…blogのTag1インデックスページ！
