@charset 'UTF-8';
@import url(//fonts.googleapis.com/earlyaccess/notosansjp.css);

:root {
  --c-base: #30404f;
  --c-main: #ffc400;
  --c-unti: #4c00ff;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  display: grid;
  gap: 3rem;
  grid-template-rows: auto 1fr auto;
  margin: 0;
  min-height: 100vh;
  font-family: "Noto Sans JP", sans-serif;
  color: var(--c-base);
  hanging-punctuation: allow-end;
}

.Header {
  background-color: var(--c-main);
  box-shadow: 0 0 15px 0 rgba(var(--c-main), 0.5);
}

.Header__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.Header__title {
  color: var(--c-base);
  font-size: 1.5rem;
  line-height: 1;
}

.Header__logo {
  line-height: 1;
  vertical-align: top;
}

.Main__inner {
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  max-width: 768px;
}

.Main__copy {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.3;
}

.Main__description {
  font-size: 1rem;
  line-height: 1.6;
}

.Button {
  all: unset;
  display: inline-flex;
  place-items: center;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--c-base);
  border-radius: 3px;
  background-color: var(--c-main);
}

.All {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 3rem;
}

.Slot {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-top: 3rem;
}

.Slot__inner {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.Slot__inner.-stopping .Slot__stop {
  display: none;
}
.Slot__inner.-starting .Slot__shuffle {
  display: none;
}

.Slot__pict {
  width: 100%;
  border: 5px solid var(--c-base);
}

.Footer {
  background-color: rgba(var(--c-main), 0.05);
}

.Footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding: 0.5rem 1rem;
  max-width: 768px;
  font-style: normal;
}

.Footer__credit {
  font-size: 0.75rem;
  line-height: 1.2;
}

.Footer__license {
  font-size: 0.75rem;
  line-height: 1.2;
}
